[Desktop Entry]
Type=Application
Name=Run Windows Software (Custom Environment)
Name[zh_CN]=自定义环境运行Windows软件
Comment=Run Windows executables with selected Proton runner and prefix
Exec=shorin-proton-wrapper-select %f
Icon=shorin-proton
MimeType=application/x-ms-dos-executable;application/x-msdownload;
Terminal=false
NoDisplay=true
